{% from "utils.html" import analytics %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">{% block head %}{% endblock %}
  <title>{% block title %}{{ site.name }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="{{ author.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <link rel="stylesheet" href="{{ static_url('css/ui.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ static_url('css/style.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ static_url('css/pygments.css') }}" type="text/css" />
  <link rel="alternate" type="application/rss+xml" href="{{ url_for('feed') }}" title="{{ site.name }}" />
  <link rel="canonical" href="{{ permalink }}" />{{ analytics() }}
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
  <header class="navbar navbar-static-top seven-nav" id="top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".seven-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">{{ site.name }}</a>
      </div>
      <nav class="collapse navbar-collapse seven-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('index') }}" title="首页">首页</a>
          <li><a href="{{ url_for('archives') }}" title="归档">归档</a>
          </li>
          {% for page in pages %}
          <li><a href="{{ url_for(page) }}" title="{{ page.title }}">{{ page.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </header>
  <div class="seven-header">
    <div class="container">
      <h1>{{ site.name }}</h1>
      <p>{{ site.description }}</p>
    </div>
  </div>
  <div class="seven-main">
    <div class="container">
        {% block content %} {% endblock %}
    </div>
  </div>
  <div class="seven-info">
    <div class="container">
      <div class="row">
        <div id="tagcloud" class="col-md-4 col-xs-12">
          <h2>Tag Cloud</h2>
          <ul>
            {% for tag in generator.tags %}
            <li><a class="tag" href="{{ url_for(tag) }}" title="{{ tag.name }}">{{ tag.name }} ({{ tag.count }})</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div id="archives" class="col-md-4 col-xs-12">
          <h2>Archives</h2>
          <ul>
            {% for archive in generator.archives %}
            <li><a href="{{ url_for(archive) }}">{{ archive.year }} ({{ archive.count }})</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div id="links" class="col-md-4 col-xs-12">
          <h2>Links</h2>
          <ul>
            {% for link in theme.links %}
            <li><a href="{{ link["url"] }}" title="{{ link["description"] }}" target="_blank">{{ link["name"] }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="seven-footer">
    <div class="container text-center">
      Proudly powered by <a href="https://github.com/whtsky/catsup" title="Catsup - A static blog generator.">Catsup</a>
      <span>&bull;</span>
      Seven Theme by <a href="http://messense.me" title="Messense">Messense</a>
    </div>
  </footer>
  <script type="text/javascript" src="{{ static_url('js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ static_url('js/bootstrap.min.js') }}"></script>
</body>

</html>
