{{ extends 'layout.html' }}
{{ block content }}
<section id="post" class="clearfix">
    {% for post in pagination.items %}
    <article>
        <header>
            <a href="{{ url_for(post) }}" title="{{ post.title }}"><h1 class="title">{{ post.title }}</h1></a>
        </header>
        <section class="main-content">
            {{ post.content }}
        </section>
        <footer>
            <h4>
                <small>
                    <time>{{ post.date }}</time>
                    {% for tag in post.tags %}
                    <a class="tag" href="{{ url_for(tag) }}" title="Tag # {{ tag.name }}">#{{ tag.name }}</a>
                    {% endfor %}
                </small>
            </h4>
        </footer>
    </article>
    {% endfor %}
    <section class="pagination">
        <nav class="clearfix">
            {% if pagination.has_prev %}
            <a href="{{ pagination.prev_permalink }}" class="btn prev btn-default" title="上一页">上一页</a>
            {% endif %}
            {% if pagination.has_next %}
            <a href="{{ pagination.next_permalink }}" class="btn next btn-default" title="下一页">下一页</a>
            {% endif %}
        </nav>
    </section>
</section>
{{ endblock }}