{% extends 'layout.html' %}
{% block head %}
<meta name=description content="{{ tag.name }},{{ site.description }}">
{% endblock %}

{% block title %}
{{ tag.name }} | {{ site.name }}
{% endblock %}
{% block content %}
<section id="post" class="clearfix">
    <h2 class="title">Articles Tagged as "{{ tag.name }}"</h2>
    {% for post in tag.posts %}
    <article>
        <header>
            <a href="{{ url_for(post) }}" title="{{ post.title }}"><h1 class="title">{{ post.title }}</h1></a>
        </header>
        <footer>
            <h4>
                <small>
                    <time>{{ post.date }}</time>
                    {% for tag in post.tags %}
                    <a class="tag" href="{{ url_for(tag) }}" title="Tag # {{ tag.name }}">#{{ tag.name }}</a>
                    {% endfor %}
                </small>
            </h4>
        </footer>
    </article>
    {% endfor %}
</section>
{% endblock %}